@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
/* H E A D E R */
header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(106, 166, 106);
  padding: 20px 130px;
  align-items: center;
}
ul {
  display: flex;
  gap: 25px;
}
.logo {
  font-size: 32px;
  font-weight: 900;
}
.link {
  font-weight: 700;
  transition: 0.3s;
}
.link:hover {
  color: orange;
}
.btn-reg {
  font-weight: 700;
  padding: 7px 12px;
  border: 1px solid black;
  border-radius: 4px;
  transition: all 0.3s;
}
.btn-reg:hover {
  color: orange;
  border: 1px solid orange;
}
/* MAIN */
/* C A R O U S E L */
.carousel-item {
  height: 700px;
}
.carousel-item img {
  height: 100%;
}

/* Cards Section */
.h2 {
  font-size: 32px;
  font-weight: 900;
  color: rgb(106, 166, 106);
  border-bottom: 1px solid rgb(106, 166, 106);
  margin: 30px 130px;
  text-transform: uppercase;
}
.cards {
  display: flex;
  justify-content: space-between;
  padding: 20px 130px;
}
.cards img {
  height: 150px;
}
.cards p {
  margin-bottom: 25px;
}
.btn-green {
  font-weight: 700;
  padding: 7px 12px;
  border: 1px solid black;
  border-radius: 4px;
  transition: all 0.3s;
}
.btn-green:hover {
  color: rgb(106, 166, 106);
  border: 1px solid rgb(106, 166, 106);
}
